.titulo{

  text-align:center;

  margin-top:20px;

  margin-bottom:30px;

}

.contenedor{

  width:90%;

  margin:auto;

}

.grafico{

  background:white;

  padding:25px;

  border-radius:15px;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

}

canvas{

  width:100% !important;

  height:550px !important;

}
